.navbar-item {
    transition: all .3s ease;
}

.input {
    transition: all .3s ease;
}

.button {
    transition: all .3s ease;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}

.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}